* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(45, 214, 110);
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}

h1, h2, h3 {
    text-align: center;
    margin: 20px;
    color: rgb(0, 0, 0);
    font-size: 120px;
}

.padre {
    gap: 10px;
    background: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 10px;

}

.hijo {
    display: flex;
    width: 500px;
    height: 500px;
    background: yellow;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}  

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    background: yellow;
    font-size: 25px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 25px;
}

table {
    width: 50%;
    border-collapse: collapse;
    background: yellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #007BFF;
    color: white;
}
input[type="button"]:hover {
    background-color: #0056b3;
}


@media (max-width: 1024px) {
    h1, h2, h3 {
        font-size: 80px;
    }
    
    .padre {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .hijo {
        width: 80%;
        height: auto;
        font-size: 18px;
    }

    form {
        width: 60%;
    }

    table {
        width: 90%;
    }
}


@media (max-width: 768px) {
    h1, h2, h3 {
        font-size: 50px;
    }

    .hijo {
        width: 90%;
        font-size: 16px;
    }

    form {
        width: 80%;
        font-size: 20px;
    }

    input {
        font-size: 20px;
    }

    table {
        width: 100%;
        font-size: 14px;
    }

    th, td {
        padding: 5px;
    }
}
